<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections/>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
		<!-- SMTP Settings - Not currently used, see system.net/mailSettings instead -->
		<add key="SmtpHost" value="smtp.gmail.com"/>
		<add key="SmtpPort" value="587"/>
		<add key="SmtpUser" value="garabiag.arjay04@gmail.com"/>
		<add key="SmtpPassword" value="epxc wknm nalj esks"/>
		<add key="SmtpEnableSsl" value="true"/>
	</appSettings>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Server=localhost;Database=joarcyouth;Uid=root;Pwd=;Port=3306" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>
	<!-- SMTP configuration - This is the one currently being used by the application -->
	<system.net>
		<mailSettings>
			<smtp from="noreply@joanarcyouth.org" deliveryMethod="Network">
				<network host="smtp.gmail.com"
                         port="587"
                         enableSsl="true"
                         userName="garabiag.arjay04@gmail.com"
                         password="epxc wknm nalj esks" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient"/>
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".NET Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.0.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
		</DbProviderFactories>
	</system.data>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>